.photo-grid {
  max-width: 1184px;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  gap: 16px;
}
