.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  z-index: 1;
}

@media screen and (max-width: 424px) {
  .cover__subtitle {
    font-size: 14px;
  }
}
