.lead__caption {
  width: 158px;
  height: 14px;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 8px 0 92px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin: 8px auto 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 8px auto 64px;
  }
}
