.footer {
  margin: 0 48px;
  max-width: 1184;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer{
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: calc(100% - 16px*2);
    min-height: 310px;
    flex-direction: column;
  }
}
